
<nav class="navigationWrapper">
      <div class="logoWrapper">
        <span class="stylish">Parkin</span>
        <span class="logo">Auto</span>
      </div>
      
    </nav>
<!-- partial:index.partial.html -->
<form class="login">
  <input type="text" id="username" placeholder="Username">
  <input type="password" id="password" placeholder="Password">
  <button type="button" onclick="attemptLogin()">Login</button>
</form>
<div id="mensaje"></div>
</body>
</html>
