<script>

  function attemptLogin() {
      // Obtén los datos del formulario
      var username = document.getElementById("username").value;
      var password = document.getElementById("password").value;
      // Verifica si los datos coinciden
      var url = "http://localhost:4567/chequeo?user=" + username+"&pass="+password;
      window.location.href = url;
      
    }

</script>